src/main/resources/XSD/SAS/base.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2009 (http://www.altova.com) by zhaoziyue (EMBRACE) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:complexType name="HdeApprResult">
		<xs:annotation>
			<xs:documentation>回执表头</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="etpsPreentNo">
				<xs:annotation>
					<xs:documentation>企业预录入编号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="businessId">
				<xs:annotation>
					<xs:documentation>单证编号</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="128"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="tmsCnt">
				<xs:annotation>
					<xs:documentation>变更/报核次数</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:long">
						<xs:totalDigits value="19"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="typecd">
				<xs:annotation>
					<xs:documentation>业务类型代码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="manageResult">
				<xs:annotation>
					<xs:documentation>业务类型代码</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="manageDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>处理日期</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="rmk">
				<xs:annotation>
					<xs:documentation>备注</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CheckInfo">
		<xs:annotation>
			<xs:documentation>检查信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="note">
				<xs:annotation>
					<xs:documentation>检查信息</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SasDclBsc">
		<xs:annotation>
			<xs:documentation>申报表表头</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="sasDclNo" type="xs:string"/>
			<xs:element name="chgTmsCnt" type="xs:long"/>
			<xs:element name="masterCuscd" type="xs:string"/>
			<xs:element name="sasDclPreentNo" type="xs:string"/>
			<xs:element name="dclTypecd" type="xs:string"/>
			<xs:element name="businessTypecd" type="xs:string"/>
			<xs:element name="directionTypecd" type="xs:string"/>
			<xs:element name="areainOriactNo" type="xs:string"/>
			<xs:element name="areaoutOriactNo" type="xs:string"/>
			<xs:element name="areainEtpsno" type="xs:string"/>
			<xs:element name="areainEtpsNm" type="xs:string"/>
			<xs:element name="areainEtpsSccd" type="xs:string"/>
			<xs:element name="areaoutEtpsno" type="xs:string"/>
			<xs:element name="areaoutEtpsNm" type="xs:string"/>
			<xs:element name="areaoutEtpsSccd" type="xs:string"/>
			<xs:element name="dpstLevyBlNo" type="xs:string"/>
			<xs:element name="validTime" type="xs:date"/>
			<xs:element name="exhibitionPlace" type="xs:string"/>
			<xs:element name="dclEr" type="xs:string"/>
			<xs:element name="dclTime" type="DateTime"/>
			<xs:element name="putrecEmapvTime" type="DateTime"/>
			<xs:element name="chgEmapvTime" type="DateTime"/>
			<xs:element name="clsCaseTime" type="DateTime"/>
			<xs:element name="emapvMarkcd" type="xs:string"/>
			<xs:element name="dclTbStucd" type="xs:string"/>
			<xs:element name="rmk" type="xs:string"/>
			<xs:element name="col1" type="xs:string"/>
			<xs:element name="col2" type="xs:string"/>
			<xs:element name="col3" type="DateTime"/>
			<xs:element name="col4" type="xs:double"/>
			<xs:element name="ownerSystem" type="xs:string"/>
			<xs:element name="emapvDescription" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SasDclDt">
		<xs:annotation>
			<xs:documentation>申报表表体</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="sasDclNo" type="xs:string"/>
			<xs:element name="sasDclSeqno" type="xs:long"/>
			<xs:element name="chgTmsCnt" type="xs:long"/>
			<xs:element name="mtpckEndprdTypecd" type="xs:string"/>
			<xs:element name="oriactGdsSeqno" type="xs:long"/>
			<xs:element name="gdecd" type="xs:string"/>
			<xs:element name="gdsNm" type="xs:string"/>
			<xs:element name="gdsSpcfModelDesc" type="xs:string"/>
			<xs:element name="dclQty" type="xs:double"/>
			<xs:element name="dclUnitcd" type="xs:string"/>
			<xs:element name="dclUprcAmt" type="xs:double"/>
			<xs:element name="dclTotalAmt" type="xs:double"/>
			<xs:element name="dclCurrcd" type="xs:string"/>
			<xs:element name="licenceNo" type="xs:string"/>
			<xs:element name="licenceValidTime" type="Date"/>
			<xs:element name="actlAreaoutQty" type="xs:double"/>
			<xs:element name="actlAreainQty" type="xs:double"/>
			<xs:element name="gdsMarkcd" type="xs:string"/>
			<xs:element name="gdsRmk" type="xs:string"/>
			<xs:element name="invtVdedtQty" type="xs:double"/>
			<xs:element name="rcntVdedtTime" type="DateTime"/>
			<xs:element name="modfMarkcd" type="xs:string"/>
			<xs:element name="rmk" type="xs:string"/>
			<xs:element name="col1" type="xs:string"/>
			<xs:element name="col2" type="xs:string"/>
			<xs:element name="col3" type="DateTime"/>
			<xs:element name="col4" type="xs:double"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SasDclUcnsDt">
		<xs:annotation>
			<xs:documentation>单耗表体</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="sasDclNo" type="xs:string"/>
			<xs:element name="chgTmsCnt" type="xs:long"/>
			<xs:element name="endprdSeqno" type="xs:long"/>
			<xs:element name="mtpckSeqno" type="xs:long"/>
			<xs:element name="netUseupQty" type="xs:double"/>
			<xs:element name="lossRate" type="xs:double"/>
			<xs:element name="modfMarkcd" type="xs:string"/>
			<xs:element name="col1" type="xs:string"/>
			<xs:element name="col2" type="xs:string"/>
			<xs:element name="col3" type="DateTime"/>
			<xs:element name="col4" type="xs:double"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SasStockBsc">
		<xs:annotation>
			<xs:documentation>出入库单表头</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="sasStockNo" type="xs:string"/>
			<xs:element name="sasStockPreentNo" type="xs:string"/>
			<xs:element name="dclTypecd" type="xs:string"/>
			<xs:element name="sasDclNo" type="xs:string"/>
			<xs:element name="masterCuscd" type="xs:string"/>
			<xs:element name="stockTypecd" type="xs:string"/>
			<xs:element name="rltBondInvtNo" type="xs:string"/>
			<xs:element name="businessTypecd" type="xs:string"/>
			<xs:element name="centralizedDclTypecd" type="xs:string"/>
			<xs:element name="rltSasStockNo" type="xs:string"/>
			<xs:element name="dclEr" type="xs:string"/>
			<xs:element name="dclTime" type="DateTime"/>
			<xs:element name="packageQty" type="xs:double"/>
			<xs:element name="grossWt" type="xs:double"/>
			<xs:element name="netWt" type="xs:double"/>
			<xs:element name="packType" type="xs:string"/>
			<xs:element name="levyBlAmt" type="xs:double"/>
			<xs:element name="passTypecd" type="xs:string"/>
			<xs:element name="passportUsedTypecd" type="xs:string"/>
			<xs:element name="stucd" type="xs:string"/>
			<xs:element name="emapvMarkcd" type="xs:string"/>
			<xs:element name="rmk" type="xs:string"/>
			<xs:element name="col1" type="xs:string"/>
			<xs:element name="col2" type="xs:string"/>
			<xs:element name="col3" type="DateTime"/>
			<xs:element name="col4" type="xs:double"/>
			<xs:element name="chgTmsCnt" type="xs:double"/>
			<xs:element name="ownerSystem" type="xs:string"/>
			<xs:element name="emapvDescription" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SasStockDt">
		<xs:annotation>
			<xs:documentation>出入库单表体</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="sasStockNo" type="xs:string"/>
			<xs:element name="sasStockSeqno" type="xs:long"/>
			<xs:element name="sasDclSeqno" type="xs:long"/>
			<xs:element name="oriactGdsSeqno" type="xs:long"/>
			<xs:element name="gdsMtno" type="xs:string"/>
			<xs:element name="gdecd" type="xs:string"/>
			<xs:element name="gdsNm" type="xs:string"/>
			<xs:element name="gdsSpcfModelDesc" type="xs:string"/>
			<xs:element name="dclUnitcd" type="xs:string"/>
			<xs:element name="lawfUnitcd" type="xs:string"/>
			<xs:element name="secdLawfUnitcd" type="xs:string"/>
			<xs:element name="natcd" type="xs:string"/>
			<xs:element name="dclUprcAmt" type="xs:double"/>
			<xs:element name="dclTotalAmt" type="xs:double"/>
			<xs:element name="usdStatTotalAmt" type="xs:double"/>
			<xs:element name="dclCurrcd" type="xs:string"/>
			<xs:element name="lawfQty" type="xs:double"/>
			<xs:element name="secdLawfQty" type="xs:double"/>
			<xs:element name="wtSfVal" type="xs:double"/>
			<xs:element name="fstSfVal" type="xs:double"/>
			<xs:element name="secdSfVal" type="xs:double"/>
			<xs:element name="dclQty" type="xs:double"/>
			<xs:element name="grossWt" type="xs:double"/>
			<xs:element name="netWt" type="xs:double"/>
			<xs:element name="useCd" type="xs:string"/>
			<xs:element name="lvyrlfModecd" type="xs:string"/>
			<xs:element name="ucnsVerno" type="xs:string"/>
			<xs:element name="clyMarkcd" type="xs:string"/>
			<xs:element name="actlPassQty" type="xs:double"/>
			<xs:element name="passportUsedQty" type="xs:double"/>
			<xs:element name="replaceQty" type="xs:double"/>
			<xs:element name="rltStockSeqno" type="xs:long"/>
			<xs:element name="rmk" type="xs:string"/>
			<xs:element name="col1" type="xs:string"/>
			<xs:element name="col2" type="xs:string"/>
			<xs:element name="col3" type="DateTime"/>
			<xs:element name="col4" type="xs:double"/>
			<xs:element name="chgTmsCnt" type="xs:double"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SAS_GRT">
		<xs:annotation>
			<xs:documentation>担保额度控制表</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DPST_LEVY_BL_NO" type="xs:string"/>
			<xs:element name="LEVY_BL_AMT" type="xs:double"/>
			<xs:element name="DEDUCTION_AMT" type="xs:double"/>
			<xs:element name="RESTORE_AMT" type="xs:double"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SAS_CENT_DCL_STOCK">
		<xs:annotation>
			<xs:documentation>出入库单集报表</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BOND_INVT_NO" type="xs:string"/>
			<xs:element name="SAS_STOCK_NO" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SasPassportBsc">
		<xs:annotation>
			<xs:documentation>核放单表头</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="passportNo" type="xs:string"/>
			<xs:element name="sasPassportPreentNo" type="xs:string"/>
			<xs:element name="passportTypecd" type="xs:string"/>
			<xs:element name="dclTypecd" type="xs:string"/>
			<xs:element name="ioTypecd" type="xs:string"/>
			<xs:element name="bindTypecd" type="xs:string"/>
			<xs:element name="masterCuscd" type="xs:string"/>
			<xs:element name="rltTbTypecd" type="xs:string"/>
			<xs:element name="rltNo" type="xs:string"/>
			<xs:element name="areainEtpsno" type="xs:string"/>
			<xs:element name="areainEtpsNm" type="xs:string"/>
			<xs:element name="areainEtpsSccd" type="xs:string"/>
			<xs:element name="vehicleNo" type="xs:string"/>
			<xs:element name="vehicleIcNo" type="xs:string"/>
			<xs:element name="containerNo" type="xs:string"/>
			<xs:element name="vehicleWt" type="xs:double"/>
			<xs:element name="vehicleFrameNo" type="xs:string"/>
			<xs:element name="vehicleFrameWt" type="xs:double"/>
			<xs:element name="containerType" type="xs:string"/>
			<xs:element name="containerWt" type="xs:double"/>
			<xs:element name="totalWt" type="xs:double"/>
			<xs:element name="passCollectWt" type="xs:double"/>
			<xs:element name="wtError" type="xs:double"/>
			<xs:element name="totalGrossWt" type="xs:double"/>
			<xs:element name="totalNetWt" type="xs:double"/>
			<xs:element name="dclErConc" type="xs:string"/>
			<xs:element name="dclTime" type="DateTime"/>
			<xs:element name="passId" type="xs:string"/>
			<xs:element name="secdPassId" type="xs:string"/>
			<xs:element name="passTime" type="DateTime"/>
			<xs:element name="secdPassTime" type="DateTime"/>
			<xs:element name="stucd" type="xs:string"/>
			<xs:element name="emapvMarkcd" type="xs:string"/>
			<xs:element name="logisticsStucd" type="xs:string"/>
			<xs:element name="rmk" type="xs:string"/>
			<xs:element name="col1" type="xs:string"/>
			<xs:element name="col2" type="xs:string"/>
			<xs:element name="col3" type="DateTime"/>
			<xs:element name="col4" type="xs:double"/>
			<xs:element name="chgTmsCnt" type="xs:double"/>
			<xs:element name="ownerSystem" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SasPassportDt">
		<xs:annotation>
			<xs:documentation>核放单表体</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="passportNo" type="xs:string"/>
			<xs:element name="passportSeqno" type="xs:long"/>
			<xs:element name="gdsMtno" type="xs:string"/>
			<xs:element name="gdecd" type="xs:string"/>
			<xs:element name="gdsNm" type="xs:string"/>
			<xs:element name="grossWt" type="xs:double"/>
			<xs:element name="netWt" type="xs:double"/>
			<xs:element name="rltGdsSeqno" type="xs:long"/>
			<xs:element name="dclUnitcd" type="xs:string"/>
			<xs:element name="dclQty" type="xs:double"/>
			<xs:element name="rmk" type="xs:string"/>
			<xs:element name="col1" type="xs:string"/>
			<xs:element name="col2" type="xs:string"/>
			<xs:element name="col3" type="DateTime"/>
			<xs:element name="col4" type="xs:double"/>
			<xs:element name="chgTmsCnt" type="xs:double"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SasPassportRlt">
		<xs:annotation>
			<xs:documentation>核放单关联单证表</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="passportNo" type="xs:string"/>
			<xs:element name="rltNo" type="xs:string"/>
			<xs:element name="rltTbTypecd" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Date">
		<xs:annotation>
			<xs:documentation>日期时间类型</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
			<xs:pattern value="([0-9]{4}-(0[1-9]|1[0-2])-[0-3][0-9])?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DateTime">
		<xs:annotation>
			<xs:documentation>日期时间类型</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="19"/>
			<xs:pattern value="([0-9]{4}-(0[1-9]|1[0-2])-[0-3][0-9] [0-2][0-9]:[0-5][0-9]:[0-5][0-9])?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="MSG_RECE_RESULT">
		<xs:annotation>
			<xs:documentation>入库回执</xs:documentation>
		</xs:annotation>
	</xs:complexType>
	<xs:complexType name="SasVehicleBsc">
		<xs:annotation>
			<xs:documentation>车辆备案信息</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="vehicleNo">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="chgTmsCnt">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="19"/>
						<xs:fractionDigits value="0"/>
						<xs:minExclusive value="-10000000000000000000"/>
						<xs:maxExclusive value="10000000000000000000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="vehicleTypecd" nillable="true" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="masterCuscd" nillable="true" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="dclPreentNo" nillable="true" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="18"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="dclTypecd" nillable="true" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="vehicleCusNo" nillable="true" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="etpsno" nillable="true" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="etpsNm" nillable="true" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="512"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="etpsSccd" nillable="true" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="18"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="vehicleWt" nillable="true" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:totalDigits value="19"/>
						<xs:fractionDigits value="5"/>
						<xs:minExclusive value="-100000000000000"/>
						<xs:maxExclusive value="100000000000000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="dclEr" nillable="true" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="256"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="dclTime" type="DateTime" nillable="true" minOccurs="0"/>
			<xs:element name="putrecEmapvTime" type="DateTime" nillable="true" minOccurs="0"/>
			<xs:element name="chgEmapvTime" type="DateTime" nillable="true" minOccurs="0"/>
			<xs:element name="emapvMarkcd" nillable="true" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="stucd" nillable="true" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rmk" nillable="true" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="512"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="col1" type="xs:string"/>
			<xs:element name="col2" type="xs:string"/>
			<xs:element name="col3" type="DateTime"/>
			<xs:element name="col4" type="xs:double"/>
			<xs:element name="ownerSystem" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SasDclAcmpFormDt">
		<xs:annotation>
			<xs:documentation>申报表随附单证表</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="sasDclNo" type="xs:string"/>
			<xs:element name="acmpFormSeqno" type="xs:int"/>
			<xs:element name="chgTmsCnt" type="xs:int"/>
			<xs:element name="formTypecd" type="xs:string"/>
			<xs:element name="formNo" type="xs:string"/>
			<xs:element name="fixdNo" type="xs:string"/>
			<xs:element name="acmpFormFileNm" type="xs:string"/>
			<xs:element name="rmk" type="xs:string"/>
			<xs:element name="version" type="xs:double"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
